@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.clip-circle {
  clip-path: circle(50% at center);
}

.clip-banner {
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}